@media(max-width: 1549px){
	button.slick-arrow{left: -3%;}
	button.slick-arrow.slick-next {right: -3%;left: auto;}
}
@media(max-width: 1366px){
	body{padding-left: 77px;}
	button.slick-arrow{left: 0%; bottom: auto;}
	button.slick-arrow.slick-next {right: 0%;left: auto;}
	.banner_text_content{padding: 20px;}
	.banner_text_content h2{font-size: 50px; line-height: 60px;}
	.banner_text_content h1 {font-size: 200px;line-height: 200px;margin-top: -150px;}
	.breadcrumbs_section{padding: 40px;}
}
@media(max-width: 1199px){
	.banner_text_content h2 {font-size: 40px;line-height: 50px;}
	.banner_text_content h1 {font-size: 160px;line-height: 160px;margin-top: -130px;}
	.banner_text_content h3 {font-size: 44px;line-height: 48px;}
	.single_website_developement_slide h2, .single_mobile_app_developement_slide h2{font-size: 30px;}
	.single_website_developement_slide p, .single_mobile_app_developement_slide p{line-height: 30px; margin-bottom: 25px;}
	.laptop_image_slider{padding: 20px 66px 102px;}
	.mobile_image_slider button.slick-arrow{bottom: -50px;}
	body {padding-left: 60px;}
	header{width: 60px; padding: 14px 5px;}
	.filter_section{width: calc(100% - 60px); right: calc(-100% + 60px); padding: 20px 30px;}
	.website_developement_section, .mobile_app_developement_section {padding: 40px 0px;}
	.filter_section form{margin: 0px;}
	.breadcrumbs_section{padding: 30px;}
	.breadcrumbs_section h2{font-size: 36px;}
	.breadcrumbs_section p{font-size: 18px; line-height: normal;}
	.contact_frm_section{padding: 60px 0px;}
}
@media(max-width: 1024px){
	.banner_section .blue_bg, .banner_section .light_blue_bg {min-height: 50vh; background-position: center left;}
	.banner_section .col-md-6{flex: 0 0 100%;max-width: 100%;}
	.banner_text_content{text-align: center !important;}
	.banner_text_content h1 {font-size: 120px;line-height: normal;margin-top: 0;}
	.banner_text_content h3 {font-size: 28px;line-height: normal;}
	.banner_text_content h2 {font-size: 30px;line-height: normal;margin-top: 0;}
	.banner_text_content h2:after{margin: 15px auto; width: 100px;}
	.banner_text_content a {position: relative;bottom: auto;left: auto;}
	.banner_text_content h2 br{display: none;}
	.input_box .form_input{height: 60px; padding: 8px 38px;}
	.input_box{margin-bottom: 10px;}
	.filter_section h2{font-size: 36px; padding-bottom: 20px;}
	a.close_filter{right: 20px; top: 20px;}
}
@media(max-width: 991px){
	.about_text_content {padding: 60px 20px;}
	.about_our_section .font_bg {font-size: 170px;line-height: 196px;}
	.about_our_section .col-lg-4 {border-right: none;border-bottom: 1px solid #ddd;}
	.sectio_title h2 {font-size: 32px;}
	.single_website_developement_slide h2, .single_mobile_app_developement_slide h2{font-size: 24px;}
	.laptop_image_slider {padding: 25px 84px 136px;}
	.laptop_image_slider button.slick-arrow{bottom: 20px;}
	.website_developement_slider{padding: 0px;}
	.mobile_image_slider{margin: 0px auto 60px;}
	.footer_section p, .contact_detail span{padding-bottom: 25px; padding-right: 0px;}
	.contact_frm_section{padding: 40px 0px;}
}
@media(max-width: 767px){
	.banner_section .blue_bg, .banner_section .light_blue_bg {min-height: 300px;}
	.laptop_image_slider {padding: 18px 64px 100px; margin-top: 30px;}
	.single_website_developement_slide, .single_mobile_app_developement_slide{text-align: center;}
	.sectio_title h2 {font-size: 24px;}
	.sectio_title p {padding: 0px;line-height: 20px;font-size: 12px;}
	.footer_section{padding-top: 30px;}
	.footer_section p.copy_right_text{padding: 15px 0px;}
	.footer_section h3 {font-size: 20px;padding-bottom: 20px;}
	body {padding-left: 40px;}
	header {width: 40px;padding: 10px 5px;}
	.filter_section {width: calc(100% - 40px);right: calc(-100% + 40px);padding: 20px;}
	a.search_btn:after{border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 12px solid #fff;}
	a.search_btn.active_filter:after {right: -12px;}
	.side_bar_fixed ul{padding: 0px 5px; bottom: 0px;}
	.banner_text_content a, .single_website_developement_slide a, .single_mobile_app_developement_slide a, .btn_submit{padding: 10px 20px;}
	.side_bar_fixed ul li a{padding: 0px;}
	.about_text_content {padding: 60px 0px 20px;}
	.about_text_content h4{font-size: 18px;}
	button.slick-arrow{height: 35px; width: 35px; line-height: 35px;}
	.mobile_app_developement_slider, .website_developement_slider {padding: 40px 0px 0px;}
	.input_with_icon.input_box img {max-width: 20px; left: 12px;}
	.input_box .form_input{font-size: 12px; padding: 8px 15px;}
	.filter_section h2 {font-size: 24px;padding-bottom: 10px;}
	.input_with_icon.input_box .form_input {padding-left: 40px;}
	.btn_filter_search{padding: 8px 30px;}
	a.close_filter{height: 30px;width: 30px;line-height: 30px;right: 10px;top: 10px;}
	.input_box .form_input {height: 50px;}
	.contact_frm_section{padding: 25px 0px;}
	.breadcrumbs_section h2{font-size: 24px;}
	.breadcrumbs_section p{font-size: 15px;}
	.breadcrumbs_section{padding: 15px;}
	.form_input_box .form_input{height: 40px; margin-bottom: 20px; font-size: 14px;}
	.back_to_top{height: 25px; width: 25px; line-height: 25px;}
}
@media(max-width: 575px){
	.footer_section p, .contact_detail span{line-height: 26px; padding-left: 20px; padding-bottom: 20px; font-size: 12px;}
	.footer_section p img, .contact_detail span img {max-width: 20px; left: -7px;}
	.menu_and_filter a {margin-top: 20px;}
	.menu_and_filter{margin-top: 0;}
	.banner_section .blue_bg, .banner_section .light_blue_bg{min-height: 240px;}
	.banner_text_content h1{font-size: 80px;}
	.banner_text_content h3{font-size: 18px;}
	.about_our_section .font_bg{line-height: normal;}
	.banner_text_content h2{font-size: 22px;}
	.laptop_image_slider {padding: 3.5% 12.6% 20%;margin-top: 20px;margin-bottom: 40px;}
	.laptop_image_slider button.slick-arrow{bottom: -20px;}
	.laptop_image_slider button.slick-arrow{left: 30%;}
	.laptop_image_slider button.slick-arrow.slick-next{right: 30%;}
	.single_website_developement_slide p, .single_mobile_app_developement_slide p {line-height: 20px;margin-bottom: 15px;}
	.single_website_developement_slide h2, .single_mobile_app_developement_slide h2 {font-size: 18px;padding: 0px 0px 15px;}
	.input_box .form_input {height: 40px;}
	.breadcrumbs_section {padding: 10px;background-position: left;background-size: auto;}
}
@media (max-width: 812px) and (orientation : landscape) {
	.side_bar_fixed ul{bottom: 0px;}
	.menu_and_filter{margin: 0px;}
	.menu_and_filter a {margin-top: 20px;}
}